{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    {% if productos %}
        <table>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ cantidades|get_item:producto.id }}</td>
                    <td>{{ producto.precio }}</td>
                    {% with cantidades|get_item:producto.id as cantidad %}
                        <td>{{ producto.precio|multiply:cantidad }}</td>
                    {% endwith %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Total:</td>
                <td>{{ total }}</td>
            </tr>
        </table>
        <form action="{% url 'vaciar_carrito' %}" method="post">
            {% csrf_token %}
            <button type="submit">Vaciar Carrito</button>
        </form>
    {% else %}
        <p>El carrito está vacío.</p>
    {% endif %}
    <br>
    <a href="{% url 'index' %}">
        <button>Volver a la Página Principal</button>
    </a>
</body>
</html>
